{% extends 'base.html' %}

{% block title%}Weather{%endblock%}
{% block content %}
<div class="container mt-5">
    <div class="row">
        <div class="col-5 offset-1">
            <h3>Погода в вашем городе</h3>
            <form action="" method="post">
                {% csrf_token %}
                <label for="city">Город</label>
                {{ form.name }}
                <input type="submit" name="send" value="Добавить" class="mt-2 btn btn-success">
            </form> 
        </div>
        </div class="col-4 offset-1">
            <h3>Information</h3>
            {% for info in all_info %}
                {{info.city}}
                {{info.temp}}
                {% endfor %}
        </div>
    </div>
</div>
{%endblock%}
